.containerFilter {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    position: relative;
    top: 50px;
    padding: 0 1%;
    background-color: #f5f5f5;
}

/*
    Sector
*/
/* 
.containerFilter .sector{
    width: 320px;
    max-width: 320px;
    padding: 10px;
}
 */
.containerFilter select{
    height: 30px;
    width: 300px;
    font-size: 14px;
    padding: 5px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
}

/*
    Filtro de pesquisar produtos
*/

.filter{
    position: relative;
    top: 50px;
    display: flex;
    left: 20%;
    width: 80%;
    min-width: 600px;
}

.containerFilter input{
    height: 42px;
}

.containerFilter .nameProduct{
    width: 50%;
    min-width: 50%;
    display: flex;
    position: relative;
    left: 10px;
}

.containerFilter .nameProduct img{
    width: 32px;
    filter: invert(45%) sepia(97%) saturate(0%) hue-rotate(238deg) brightness(92%) contrast(94%);
}

.containerFilter .nameProduct, .containerFilter .amountProduct {
    padding: 3px;
    border: 1px solid #808080;
    border-radius: 4px;
}



.containerFilter .nameProduct input, .containerFilter .amountProduct input{
    font-size: 16px;
    padding: 8px;
    font-family: 'Roboto', 'Arial';
    background-color: #fff;
    border: 0 none;
    outline: 0; 
}

.containerFilter .amountProduct{
    position: relative;
    left: 20px;
}

.containerFilter .amountProduct #amount{
    border-right: transparent;
}

.containerFilter .amountProduct #uf{
    border-left: transparent;
    text-align: right;
    width: 40px;
}

.containerFilter .nameProduct input{
    width: calc(100% - 32px);
}

.containerFilter .amountProduct #amount{
    width: 53px; 
}
/* 
#uf{
    border-radius: 0px 20px 20px 0px;
    border-left: transparent;
    padding: 3px 3px 3px 0px;
    width: 45px;
}

#amount{
    border-radius: 4px 0px 0px 4px;
    border-right: transparent;
    width: 60px;
}
 */

/*
    Botões
*/

.containerFilter  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
}

.containerFilter  .buttons button{
    margin-right: 10px;
}

.buttons button:first-child{
    background-color: #007bff;
}

.buttons button:nth-child(2){
    background-color: #ff2244;
}

.buttons button:last-child{
    background-color: #ffa000;
}

.buttons button:last-child img{
    filter: invert(96%) sepia(99%) saturate(0%) hue-rotate(69deg) brightness(105%) contrast(101%);
}

/*
    DIV opções de produtos
*/

.optionsProduct{
    z-index: 10;
    position: absolute;
    top: 49px;
    width: 100%;
    border: 1px #808080 solid;
    border-radius: 0px 0px 4px 4px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 6px 4px #c5c5c5;
    left: 0px;
}

/*
    Ol da opções de produtos
*/

.optionsProduct li{
    padding: 8px;
    list-style: none;
    cursor: pointer;
}

.optionsProduct li:nth-child(2n){
    background-color: rgba(0, 0, 0, .05);
}

.optionsProduct li:last-child{
    border-radius: 0 0 4px 4px;
}

/* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */