.containerFilter {
    display: flex;
    width: 100%;
    height: 70px;
    position: relative;
    top: 50px;
    padding: 0 1%;
    background-color: #f5f5f5;
}

/*
    Filtro de pesquisar produtos
*/

.containerFilter .filter{
    display: flex;
    position: relative;
    width: 80%;
}

.containerFilter .nameProduct{
    width: 64%;
    display: flex;
    position: relative;
    left: 10px;
}


.containerFilter .selectSector{
    width: 20%;
    min-width: 200px;
}



.containerFilter select{
    width: 100%;
    padding: 5px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
}

.containerFilter input{
    height: 42px;
}



.containerFilter .nameProduct img{
    width: 32px;
    filter: invert(45%) sepia(97%) saturate(0%) hue-rotate(238deg) brightness(92%) contrast(94%);
}

.containerFilter .nameProduct, .containerFilter .amountProduct {
    padding: 3px;
    border: 1px solid #808080;
    border-radius: 4px;
    height: 50px;
}

.containerFilter .nameProduct input, .containerFilter .amountProduct input{
    font-size: 16px;
    padding: 8px;
    font-family: 'Roboto', 'Arial';
    background-color: #fff;
    border: 0 none;
    outline: 0; 
}

.containerFilter .amountProduct{
    position: relative;
    left: 20px;
    min-width: 118px;
}

.containerFilter .amountProduct #amount{
    border-right: transparent;
}

.containerFilter .amountProduct #uf{
    border-left: transparent;
    text-align: right;
    width: 40px;
}

.containerFilter .nameProduct input{
    width: calc(100% - 32px);
}

.containerFilter .amountProduct #amount{
    width: 70px; 
}

/*
    Botões
*/
.containerFilter .buttons{
    width: 20%;
    min-width: 330px;
    max-height: 50px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.containerFilter  .buttons button{
    margin-right: 10px;
}

.buttons button:first-child{
    background-color: #4caf50;
}

.buttons button:nth-child(2){
    background-color: #fd3324;
}

.buttons button:last-child{
    background-color: #ffa000;
}

.buttons button:last-child img{
    margin-right: 0px;
}
 
/*
    DIV opções de produtos
*/

.optionsProduct{
    z-index: 10;
    position: absolute;
    top: 49px;
    width: 100%;
    height: auto;
    max-height: 50vh; 
    overflow: auto;
    border: 1px #808080 solid;
    border-radius: 0px 0px 4px 4px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 6px 4px #c5c5c5;
    left: 0px;
}
/*
    ul da opções de produtos
*/
.optionsProduct ul{
    max-height: 50vh; 
}

.optionsProduct li{
    padding: 8px;
    list-style: none;
    cursor: pointer;
}

.optionsProduct li:nth-child(2n){
    background-color: rgba(0, 0, 0, .05);
}

.optionsProduct li:last-child{
    border-radius: 0 0 4px 4px;
}


@media screen and (max-width: 1023px){
    .containerFilter{
        flex-direction: column;
        top: 20px;
    }
    .containerFilter .buttons{
        top: 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1250px) {
    
    .containerFilter .filter{
        width: 67%;
    }
    
    .containerFilter .selectSector{
        width: 200px;
        min-width: 200px;
    }

    .containerFilter .nameProduct{
        width: 52%;
        min-width: 350px;
    }

    .containerFilter .buttons{
        width: 330px;
        min-width: 330px;
    }
}



