<div class="containerFilter">
  <div class="filter">
    <div class="selectSector">
      <select name="sectors" #valueSelect (change)="selectedSector(valueSelect.value)" required>
        <option value="-1"> Setor </option> 
        <option *ngFor="let sector of sectors" [value]="sector"> {{ sector }} </option> 
      </select>
    </div>
  
    <div class="nameProduct" #divProduct>
      <img src="assets/search.svg">
      <input type="text" placeholder="Informe o produto" name="inputProduct" 
        (focus)="focusFunction($event)" (focusout)="focusFunction($event)" 
        [formControl]="queryField" [value]="lastProductSelected?.name"/>
  
      <div class="optionsProduct" *ngIf="options.length > 0">
        <ul>
          <li *ngFor="let option of options; let i = index" (click)="productSelected($event.target, i)" title="{{option.name}}"> {{ option.name }} </li>
        </ul>
      </div>
    </div>
  
    <div class="amountProduct" #divAmountProduct>
      <input id="amount" type="text" placeholder="Qtd." name="inputAmount" 
        (focus)="focusFunction($event)" (focusout)="focusFunction($event)" 
        [(ngModel)]="amountProduct"/>
      <input id="uf" type="text" placeholder="UF" disabled="true" [value]="lastProductSelected?.uf"/> 
    </div>
  </div>

  <div class="buttons">
    <button title="Adicionar Item" (click)="addProduct()"><img src="assets/add.svg"> Adicionar</button>
    <button title="Limpar Pedido" (click)="clearDataInput()"><img src="assets/restore.svg"> Limpar</button> 
    <button title="Visualizar Favoritos" (click)="getFavoriteOrder()"><img src="assets/star.svg" alt="Favoritar"> </button> 
  </div>

</div>
  