<div class="containerHeader">
    <div class="logo">
        <img src="assets/hgpv.png" routerLink="/">
    </div>
    <span class="nameApp">Pedido Almoxarifado - SESAB</span>
   <!--  <nav>
        <span routerLink="/" class="navSectors">Home</span>
        <span routerLink="/homeSector/list" class="navSectors">Setores</span>
        <span class="navProducts">Produtos</span>
        <span class="navUsers">Usuários</span>
    </nav> -->
    <button (click)="login()"><img src="assets/login.svg"> Entrar</button>
</div>
 