.containerSector{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.containerSector .header{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.containerSector .header span{
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1.5px;
}

.containerSector .header button{
    background-color: #007bff;
}

.containerSector table{
    width: 100%;
}

table tr td{
    text-align: center;
    padding: 10px;
}

table th.sectorId{
    width: 5%;
}

table th.sectorName{
    width: 75%;
}

table tr td.sectorName{
    text-align: left;
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th.sectorActive{
    width: 5%;
}

table th.sectorActions{
    width: 15%;
}
