<div class="containerTable">
    <table>
        <thead>
            <tr>
                <th id="id">ID</th>
                <th id="code">Cód. Simpas</th>
                <th id="ped">QTD.</th>
                <th id="description">Descrição do material</th>
                <th id="uf">UF</th>
                <th id="actions">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let product of productList; let i = index'>
                <td>{{ product.id }}</td>
                <td>{{ product.code }}</td>
                <td><input type="number" [(ngModel)]='product.amount' min="0"></td>
                <td class="description" [title]="product.name">{{ product.name }}</td>
                <td>{{ product.uf }}</td>
                <td> <img src="assets/clear.svg" (click)="removeProduct(i)"> </td>
            </tr>
        </tbody>
    </table>    
</div>