.containerTable{
    height: calc(100% - 190px);
    position: relative;
    margin: 0 auto;
    overflow: auto;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
}
 
.containerTable 



tbody tr td input{
    width: 75px;
    font-size: 16px;
    padding: 8px;
}

#id, #ped, #uf, #actions{
    width: 5%;
}
#code{
    width: 18%;
}

td img{
    cursor: pointer;
    filter: invert(27%) sepia(78%) saturate(1643%) hue-rotate(334deg) brightness(97%) contrast(93%); 
}

