.containerApp{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.containerMain {
    padding: 10px;
    height: calc(100% - 90px);
}

app-header{
    width: 100%;
}

app-footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
