/* You can add global styles to this file, and also import other style files */

html, body{
    height: 100%;
    font-family: "Roboto", Arial, Helvetica;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5
}


/*
    Botões
*/
 
button{
    width: 100px;
    height: 34px;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #c5c5c5;
    outline: 0;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

button img{
    margin-right: 4px;
    filter: invert(96%) sepia(99%) saturate(0%) hue-rotate(69deg) brightness(105%) contrast(101%);
}

button:active{
    opacity: 0.8;
}

li{
    list-style: none;
}

/* 
    Tabela
*/

table{
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: 1px solid #808080;
    border-spacing: 0;
    border-radius: 4px;
    max-height: 66%;
    overflow: auto;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;

}

thead{
    background-color: #f9f9f9;
    color: #323232;
}

td{
    text-align: center;
}

th, td{
    padding: 3px;
    border: 1px solid #e9ecef;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .05);;

}

td img{
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    left: 5px;
}

td img:active{
    opacity: 0.8;
}

table tbody tr:nth-child(2n){
    background-color: rgba(0, 0, 0, .05);
}



td .imgEdit{
    filter: invert(90%) sepia(52%) saturate(808%) hue-rotate(317deg) brightness(107%) contrast(101%);   
}

td .imgDelete{
    filter: invert(14%) sepia(85%) saturate(4921%) hue-rotate(356deg) brightness(86%) contrast(102%);
}

td .imgDescription{
    filter: invert(24%) sepia(63%) saturate(3757%) hue-rotate(209deg) brightness(99%) contrast(107%);
}


/*
    Paginação - tela de listagem
*/

.pagination {
    display: flex;
    position: absolute;
    bottom: 50px;
}

.pagination button{
    width: 80px;
    height: 40px;
    padding: 2px;
    background-color: #c5c5c5;
}

.pagination button img{
    margin: 0px;
}

.pagination ol {
    display: flex;
}

.pagination ol li{
    border: 1px solid #c5c5c5;
    width: 40px;
    border-radius: 4px;
    margin: 0 3px;
    background: #c5c5c5;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination ol li:active{
    opacity: 0.8;
}

.pagination ol li.page.active{
    background-color: #f5f5f5;
    color: #c5c5c5;
}
