/* You can add global styles to this file, and also import other style files */

html, body{
    height: 100%;
    font-family: "Roboto", Arial, Helvetica;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5
}


span:focus{
    outline: none;
}

/*
    Botões
*/
 
button{
    width: 100px;
    height: 34px;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #c5c5c5;
    outline: 0;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

button img{
    margin-right: 4px;
    filter: invert(96%) sepia(99%) saturate(0%) hue-rotate(69deg) brightness(105%) contrast(101%);
}

button:active{
    opacity: 0.8;
}

li{
    list-style: none;
}

/* 
    Tabela
*/

table{
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: 1px solid #808080;
    border-spacing: 0;
    border-radius: 4px;
    max-height: 66%;
    overflow: auto;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;

}

thead{
    background-color: #f9f9f9;
    color: #323232;
}

td{
    text-align: center;
}

th, td{
    padding: 3px;
    border: 1px solid #e9ecef;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .05);;

}

td img{
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    left: 5px;
}

td img:active{
    opacity: 0.8;
}

table tbody tr:nth-child(2n){
    background-color: rgba(0, 0, 0, .05);
}



td .imgEdit{
    filter: invert(90%) sepia(52%) saturate(808%) hue-rotate(317deg) brightness(107%) contrast(101%);   
}

td .imgDelete{
    filter: invert(14%) sepia(85%) saturate(4921%) hue-rotate(356deg) brightness(86%) contrast(102%);
}

td .imgDescription{
    filter: invert(24%) sepia(63%) saturate(3757%) hue-rotate(209deg) brightness(99%) contrast(107%);
}


/*
    Paginação - tela de listagem
*/


/*
*   Component Main - Tela de CRUD
*/
.crud.main{
    padding: 10px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    height: calc(100% - 110px);
}

.containerSector .tab{
    width: auto;
    display: flex;
    position: relative;
    left: 10px;
}

.containerSector .tab span{
    width: auto;
    height: 35px;
    margin-right: 3px;
    padding: 6px 10px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.containerSector .tab span:hover{
    background-color: #e9ecef;
    border-left: 3px solid #c85c56;

}

.containerSector .tab span:active{
    opacity: 0.8;
}

.containerSector .tab .optionTab.active {
    background-color: #e9ecef;
    border-left: 3px solid #c85c56;
}


/*
*   Input - telas de CRUD
*/

.crud.main input[type=text]{
    width: 50%;
    font-size: 16px;
    padding: 8px;
    font-family: 'Roboto', 'Arial';
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
}

.crud.main input:focus{
    background-color: #f5f5f5;
}

.crud.main input[type=checkbox].create{
    margin-left: 5px;
}

.crud.main input[type=checkbox]{
    cursor: pointer;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
	/* background-color: #fafafa; */
	border: 1px solid #cacece;
	/* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); */
	padding: 9px;
	border-radius: 4px;
	position: relative;
}

.crud.main input[type=checkbox]:checked {
	/* background-color: #e9ecee; */
	border: 1px solid #adb8c0;
	/* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1); */
	color: #99a1a7;
}

.crud.main input[type=checkbox]:checked {
	/* background-color: #e9ecee; */
	border: 1px solid #adb8c0;
	/* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1); */
	color: #99a1a7;
}

.crud.main input[type=checkbox]:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #007bff;
}


/*
*  Botões - tela de CRUD
*/

.crud.main .buttonSaveAndCancel{
    display: flex;
    position: absolute;
    bottom: 54px;
}

.crud.main .buttonSaveAndCancel button:first-child{
    background-color: #007bff;
    margin-right: 10px;
}

.crud.main .buttonSaveAndCancel button:last-child{
    background-color: #dc3545;
}
