/* You can add global styles to this file, and also import other style files */

html, body{
    height: 100%;
    font-family: "Roboto", Arial, Helvetica;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5
}


/*
    Botões
*/

button{
    width: 100px;
    height: 34px;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #c5c5c5;
    outline: 0;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

button img{
    margin-right: 4px;
    filter: invert(96%) sepia(99%) saturate(0%) hue-rotate(69deg) brightness(105%) contrast(101%);
}

button:active{
    opacity: 0.8;
}

li{
    list-style: none;
}