.card{
    border: 1px solid #000;
    width: 300px;
    height: auto;
    max-height: 80px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    right: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

.card.hidden{
    display: none;
}


.card.success{
    background-color: #d4edda;
}

.card.alert{
    background-color: #fff3cd;
}

.card.danger{
    background-color: #ff2244;
}