.containerTable{
    width: 98%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
}
 
.containerTable table{
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: 1px solid #808080;
    border-spacing: 0;
    border-radius: 4px;
    max-height: 66%;
    overflow: auto;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;

}

thead{
    background-color: #f8f9fe;
    color: #32325d;
}

td{
    text-align: center;
}

th, td{
    padding: 3px;
    border: 1px solid #e9ecef;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .05);;

}

tbody tr td input{
    width: 75px;
    font-size: 16px;
    padding: 8px;
}

#id, #ped, #uf, #actions{
    width: 5%;
}
#code{
    width: 15%;
}

td img{
    cursor: pointer;
    filter: invert(27%) sepia(78%) saturate(1643%) hue-rotate(334deg) brightness(97%) contrast(93%); 
}

td img:active{
    opacity: 0.8;
}

table tbody tr:nth-child(2n){
    background-color: rgba(0, 0, 0, .05);
}
